<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv="content-type" content="text/html;utf-8">
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <h3>파일 업로드 성공</h3>
    <hr />
    <p>원본 파일 이름 : <%= originalname %> -> 저장 파일명 : <%= filename %></p>
    <p>MIME TYPE : <%= mimetype %></p>
    <p>파일 크기 : <%= size %></p>
</body>
</html>